﻿@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->

<div class="banner">
    <!-- banner Slider starts Here -->

    <script src="../Content/../Content/js/responsiveslides.min.js"></script>
    <script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: true,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
    </script>
    <!--//End-slider-script -->
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>
                <div class="banner-bg">
                    <div class="container">
                        <div class="banner-info">


                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-bg banner-img2">
                    <div class="container">
                        <div class="banner-info">


                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-bg banner-img">
                    <div class="container">
                        <div class="banner-info">


                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-bg">
                    <div class="container">
                        <div class="banner-info">


                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-bg banner-img2">
                    <div class="container">
                        <div class="banner-info">


                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<!-- //banner -->


<div class="grid_1">
    <div class="container">
        <div class="col-md-4">
            <div class="news">
                <h1> @Resources.Multi.haberler</h1>
                <div class="section-content">
                    <article>
                        <figure class="date"><i class="fa fa-file-o"></i>07-25-2015</figure>
                        <p>Kütüphanemize yeni kitaplar gelmişdir</p>
                    </article>
                    <article>
                        <figure class="date"><i class="fa fa-file-o"></i>08-24-2015</figure>
                        <p>Kütüphanemiz için yeni bina inşa ediliyor </p>
                    </article>
                    <article>
                        <figure class="date"><i class="fa fa-file-o"></i>08-24-2015</figure>
                        <p>Üniversitemiz Kütüphanelerine satın alınacak kitaplar için Mart,<br /> Haziran ve Eylül aylarında ihale yapılması planlanmıştır</p>
                    </article>


                </div><!-- /.section-content -->

            </div><!-- /.news-small -->
        </div>
        <div class="col-md-8 grid_1_right">
            <h2>Etkinlikler</h2>
            <div class="but_list">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Gün 1&nbsp;&nbsp;&nbsp;31-08-2015</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Gün 2&nbsp;&nbsp;&nbsp;01-09-2015</a></li>
                        <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Gün 3&nbsp;&nbsp;&nbsp;05-09-2015</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Kongre 107</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Erasmus</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Tanitim</a></h3>
                                    <p>Kongre merkezinde erasmus ile ilgili bilgilendirme olacaktir </p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Kongre 108</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Prof.Hoca</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Tanitim</a></h3>
                                    <p>Bilgisayar mühendislerinin sektör tanitimi </p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Yok</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Yok</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Etkinlik yok</a></h3>
                                    <p>Boş </p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Yok</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Etkinlik yok</a></h3>
                                    <p> Boş</p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Yok</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Etkinlik yok</a></h3>
                                    <p>Boş </p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="events_box">
                                <div class="event_left">
                                    <div class="event_left-item">
                                        <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                        <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                                        <div class="icon_2">
                                            <div class="speaker">
                                                <i class="fa fa-user"></i>
                                                <div class="speaker_item">
                                                    <a href="#">Yok</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_right">
                                    <h3><a href="#">Etkinlik yok</a></h3>
                                    <p>Boş</p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="bottom_content">
    <h3>PROJELERİMİZ</h3>
          <div class="grid_2">
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t15.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t10.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t12.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="clearfix"> </div>
          </div>
        <div class="grid_3">
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t11.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t14.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="col-md-4 portfolio-left">
                  <div class="portfolio-img event-img">
                      <img src="../Content/../Content/images/t13.jpg" class="img-responsive" alt="" />
                      <div class="over-image"></div>
                  </div>
                  <div class="portfolio-description">
                      <h4><a href="#">Lorem Ipsum</a></h4>
                      <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por</p>
                      <span>
                          <a href="students.html">School Studies</a>
                          <a href="students.html">College Studies</a>
                      </span>
                      <a href="events.html">
                          <span><i class="fa fa-chain chain_1"></i>VIEW PROJECT</span>
                      </a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="clearfix"> </div>
          </div>
</div>