﻿@model KutuphaneVeritabani1.Kitape

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KitapAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitapAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basimyili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basimyili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RafSiraNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafSiraNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Binakat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Binakat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
