﻿
@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}
<div class="row" style="text-align:center;">
    <h2>@Resources.Multi.Roller</h2>
    <hr />
</div>
@Html.ActionLink(Resources.Multi.RolEkle, "RolEkle") | @Html.ActionLink(Resources.Multi.RolAta, "RolKullaniciEkle")
<br />
<br />
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name : </td>
        <td> @item.Users.Count</td>
    </tr>
        <br /><br />
}








