﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title - Learn an Education Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../Content/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../Content/../Content/../Content/../Content/js/jquery.min.js"></script>
    <script src="../Content/../Content/../Content/../Content/js/bootstrap.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../Content/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../Content/css/jquery.countdown.css" />

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <!----font-Awesome----->
    <link href="../Content/css/font-awesome.css" rel="stylesheet">
    <!----font-Awesome----->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    @**@
    <script src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(40.744067, 30.3323909, 21),
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>@**@
@Scripts.Render("~/bundles/modernizr")
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand"> @Html.ActionLink("SAÜ Kütüphane", "Index", "Home")</p>
            </div>
            <!--/.navbar-header-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                <ul class="nav navbar-nav">

                    @*  <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i><span>Courses</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="courses.html">Courses Categories</a></li>
                                <li><a href="courses.html">Courses list</a></li>
                                <li><a href="course_detail.html">Courses detail</a></li>
                            </ul>
                        </li>*@
                    @* <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i><span>Events</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="events.html">Event1</a></li>
                                <li><a href="events.html">Event2</a></li>
                                <li><a href="events.html">Event3</a></li>
                            </ul>
                        </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span>Diller</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <span>
                                    @Html.ActionLink(Resources.Multi.Ingilizce, "ChangeCulture", "Home", new { lang = "en" }, null)
                                </span>
                            </li>
                            <li>
                                <span>
                                    @Html.ActionLink(Resources.Multi.Turkce, "ChangeCulture", "Home", new { lang = "tr" }, null)
                                </span>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i><span>Kitap Ara</span></a>
                        <ul class="dropdown-menu search-form">
                            <form>
                                <input type="text" class="search-text" name="s" placeholder="Search...">
                                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--/.navbar-collapse-->
    </nav>
    <nav class="navbar nav_bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav nav_1">
                    @Html.Partial("_LoginPartial")
                    <li>@Html.ActionLink(Resources.Multi.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Multi.About, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.Multi.KitapEkle, "KitapEkle", "Kitap")</li>
                    <li>@Html.ActionLink(Resources.Multi.KitapSil, "KitapSil", "Kitap")</li>
                    <li>@Html.ActionLink(Resources.Multi.Roller, "Index", "Yonet")</li>
                    @*<li><a href="index.html">Ana Sayfa</a></li>
                        <li><a href="about.html">Hakkimizda</a></li>*@
                    @*  <li class="dropdown mega-dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admissions<span class="caret"></span></a>
                            <div class="dropdown-menu mega-dropdown-menu">
                                <div class="container-fluid">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="men">
                                            <ul class="nav-list list-inline">
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/../Content/images/t7.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t8.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t9.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t1.jpg" class="img-responsive" alt="" /></a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="women">
                                            <ul class="nav-list list-inline">
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t1.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t2.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t3.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t4.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t5.jpg" class="img-responsive" alt="" /></a></li>
                                                <li><a href="admission.html"><img src="../Content/../Content/../Content/images/t6.jpg" class="img-responsive" alt="" /></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#men" role="tab" data-toggle="tab">School</a></li>
                                    <li><a href="#women" role="tab" data-toggle="tab">College</a></li>
                                </ul>
                            </div>
                        </li>*@
                    @*    <li><a href="faculty.html">Faculty</a></li>*@
                    @* <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="terms.html">Terms of use</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="faq.html">Faq</a></li>
                            </ul>
                        </li>*@
                   

                    @*<li><a href="blog.html">Blog</a></li>
                        <li><a href="career.html">Career</a></li>*@
                    <li class="last">@Html.ActionLink("İletişim", "Contact", "Home")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 grid_4">

                <ul class="social-nav icons_2 clearfix">
                    <li><a href="https://twitter.com/?lang=tr" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href=https://tr-tr.facebook.com/" target="_blank" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/collections/featured" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>

            <div class="col-md-3 grid_4">
                <h3>@Resources.Multi.Contact</h3>
                <address>

                    <abbr>Faks : </abbr> +1 (734) 123-4567
                    <br>
                    <abbr>Telefon : </abbr> +90.537.888 88 88
                    <br>
                    <abbr>Email : </abbr> <a href="http://www.kutuphane.sakarya.edu.tr/">info(at)SÜKütüphane.com</a>
                </address>
            </div>
            <div class="col-md-3 grid_4">
                <h3>Çalişma saatleri</h3>
                <table class="table_working_hours">
                    <tbody>
                        <tr class="opened_1">
                            <td class="day_label">pazartesi</td>
                            <td class="day_value">9:30 am - 24.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">sali</td>
                            <td class="day_value">9:30 am - 24.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">Çarşamba</td>
                            <td class="day_value">9:30 am - 24.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">perşsembe</td>
                            <td class="day_value">9:30 am - 24.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">cuma</td>
                            <td class="day_value">9:30 am - 24.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">cumartesi</td>
                            <td class="day_value">9:30 am - 10.00 pm</td>
                        </tr>
                        <tr class="opened">
                            <td class="day_label">pazar</td>
                            <td class="day_value">9:30 am - 10.00 pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <script src="../Content/../Content/../Content/../Content/js/jquery.countdown.js"></script>
    <script src="../Content/../Content/../Content/../Content/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>	